    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    /* 
*
*
*Paleta de colores
*
*
*
*color: #443d4d; DarkGray
*color: #2a4e7d; BlueBio
*color: #7793ba; BlueLight
*color: #7f8692; LigthGray
*/
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        background-color: #f6f5f7;
    }
    
    hr {
        margin: 5rem;
        color: #7793ba;
    }
    
    .BoxBoxes {
        display: flex;
        justify-content: space-between;
        border: 0.1rem solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
        border-radius: 2rem;
    }
    
    @media (min-width: 340px) {
        header {
            background-color: #2a4e7d;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #header_img {
            width: auto;
            height: 3.5rem;
            margin: 0.1rem;
            padding: 0.5rem;
            background-color: white;
            border-bottom-left-radius: 4rem;
        }
        .nav {
            display: block;
        }
        .nav>li {
            float: left;
        }
        .nav li ul {
            display: none;
            position: absolute;
            min-width: 1.4rem;
            border: 0.5rem solid #443d4d;
            border-bottom-left-radius: 5rem;
        }
        .nav li:hover>ul {
            display: block;
            background-color: #443d4d;
        }
        .mainTitle {
            font-size: 2.5rem;
            font-family: sans-serif;
            text-align: center;
            color: white;
            width: 50rem;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem;
        }
        header ul {
            display: flex;
            justify-content: space-between;
        }
        header a {
            color: white;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 1.5rem;
        }
        header li {
            list-style: none;
            margin: 0.5rem;
            padding: 0.5rem;
        }
        header li:hover {
            background-color: #443d4d;
            padding: 1rem;
            border: 0.1rem solid gray;
            border-radius: 2rem;
        }
        .areaContainer {
            margin: 5rem;
        }
        .area_titulo {
            font-family: sans-serif;
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.5rem;
            padding: 0 0 2rem 0;
        }
        .BoxBoxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            grid-auto-rows: minmax(5rem, auto);
            grid-gap: 2rem;
            padding: 1rem;
        }
        img {
            width: 15rem;
            height: auto;
        }
        .linkBox>a {
            color: #443d4d;
            text-decoration: none;
            font-size: 1.5rem;
        }
        .linkBox {
            border-radius: 1rem;
            padding: 1rem;
            margin: 0.5rem;
            background-color: #ededed;
            border: solid 1px black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
            color: #2a4e7d;
            font-size: 2rem;
            font-family: sans-serif;
            text-align: center;
        }
    }
    
    @media (min-width: 600px) {
        header {
            background-color: #2a4e7d;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #header_img {
            width: auto;
            height: 8rem;
            margin: 0.1rem;
            padding: 0.1rem;
            background-color: white;
            border-bottom-left-radius: 4rem;
        }
        .nav {
            display: block;
        }
        .nav>li {
            float: left;
        }
        .nav li ul {
            display: none;
            position: absolute;
            min-width: 1.4rem;
            border: 0.5rem solid #443d4d;
            border-bottom-left-radius: 5rem;
        }
        .nav li:hover>ul {
            display: block;
            background-color: #443d4d;
        }
        .mainTitle {
            font-size: 4rem;
            font-family: sans-serif;
            text-align: center;
            color: white;
            width: 50rem;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem;
        }
        header ul {
            display: flex;
            justify-content: space-between;
        }
        header a {
            color: white;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 1.6rem;
        }
        header li {
            list-style: none;
            margin: 1rem;
            padding: 1rem;
        }
        header li:hover {
            background-color: #443d4d;
            padding: 1rem;
            border: 0.1rem solid gray;
            border-radius: 2rem;
        }
        .areaContainer {
            margin: 5rem;
        }
        .area_titulo {
            font-family: sans-serif;
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.5rem;
            padding: 0 0 2rem 0;
        }
        .BoxBoxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            grid-auto-rows: minmax(5rem, auto);
            grid-gap: 2rem;
            padding: 1rem;
        }
        img {
            width: 15rem;
            height: auto;
        }
        .linkBox>a {
            color: #443d4d;
            text-decoration: none;
            font-size: 1.5rem;
        }
        .linkBox {
            border-radius: 1rem;
            padding: 1rem;
            margin: 0.5rem;
            background-color: #ededed;
            border: solid 1px black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
            color: #2a4e7d;
            font-size: 2rem;
            font-family: sans-serif;
            text-align: center;
        }
    }
    
    @media (min-width: 1024px) {
        header {
            background-color: #2a4e7d;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #header_img {
            width: auto;
            height: 5rem;
            margin: 0.1rem;
            padding: 0.1rem;
            background-color: white;
            border-bottom-left-radius: 4rem;
        }
        .nav {
            display: block;
        }
        .nav>li {
            float: left;
        }
        .nav li ul {
            display: none;
            position: absolute;
            min-width: 1.4rem;
            border: 0.5rem solid #443d4d;
            border-bottom-left-radius: 5rem;
        }
        .nav li:hover>ul {
            display: block;
            background-color: #443d4d;
        }
        .mainTitle {
            font-size: 3rem;
            font-family: sans-serif;
            text-align: center;
            color: white;
            width: 50rem;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem;
        }
        header ul {
            display: flex;
            justify-content: space-between;
        }
        header a {
            color: white;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 1.6rem;
        }
        header li {
            list-style: none;
            margin: 1rem;
            padding: 1rem;
        }
        header li:hover {
            background-color: #443d4d;
            padding: 1rem;
            border: 0.1rem solid gray;
            border-radius: 2rem;
        }
        .areaContainer {
            margin: 5rem;
        }
        .BoxBoxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            grid-auto-rows: minmax(5rem, auto);
            grid-gap: 2rem;
            padding: 1rem;
        }
        img {
            width: 15rem;
            height: auto;
        }
        .linkBox>a {
            color: #443d4d;
            text-decoration: none;
            font-size: 1.5rem;
        }
        .linkBox {
            border-radius: 1rem;
            padding: 1rem;
            margin: 0.5rem;
            background-color: #ededed;
            border: solid 1px black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
            color: #2a4e7d;
            font-size: 2rem;
            font-family: sans-serif;
            text-align: center;
        }
    }